* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  min-height: 100vh;
  background: #f1f1f1;
  color: #333;
}


.sidebar {
  width: 250px;
  background-color: #111;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
}

.sidebar h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.sidebar .tagline {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 30px;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: #eee;
  text-decoration: none;
  font-weight: bold;
}

.sidebar nav ul li a:hover {
  color: #00b894;
}

.sidebar footer {
  text-align: center;
  font-size: 12px;
  color: #777;
}


.main-content {
  margin-left: 250px;
  padding: 40px;
  flex-grow: 1;
}

h2 {
  color: #111;
  margin-bottom: 15px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-left: 5px solid #00b894;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 6px;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-tags span {
  background: #00b894;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
}
